
/*Page: Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

/* Header: Constants or Specificiations */

:root {

    --header-height: 3.5rem;

    /* Colours */
    --first-color: hsl(219, 77%, 58%);
    --first-color-dark: hsl(219, 78%, 51%);
    --first-color-light: hsl(219, 100%, 83%);
    --title-color: hsl(0, 0%, 87%);
    --text-color: hsl(0, 0%, 69%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #fff;

    /* Font and Typography*/

    --body-font: 'Jost', sans-serif;
    --body-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /* Font Weight*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;

    /* Z Index*/
    --z-modal: 100;

}

/* Header: Base */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Header: Scroll and Scrollbar */

html{


    scroll-behavior: smooth;

}

::-webkit-scrollbar{

    width: 12px;

}

::-webkit-scrollbar-thumb{

    background:linear-gradient(transparent, #72769c);
    border-radius: 6px;

}   

::-webkit-scrollbar-thumb:hover{

    background:linear-gradient(transparent, #2a3599);
    border-radius: 6px;

}  

/* Header: Structure */

input{

    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    font-size: var(--larger-font-size);

}

textarea{

    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    font-size: var(--larger-font-size);

}

button{

    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    font-size: var(--larger-font-size);

}

body{

    font-family: var(--body-font);
    font-size: var(--larger-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}


h1{

    color: var(--title-color);
    font-weight: var(--weight-600);

}

h2{

    color: var(--title-color);
    font-weight: var(--weight-600);

}

h3{

    color: var(--title-color);
    font-weight: var(--weight-600);

}

ul{

    list-style: none;

}

a{

    text-decoration: none;

}

img{

    max-width: 100%;

}

/* Header: Reusuable*/

.container{

    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;

}

.grid{

    display: grid;
    gap: 1.5rem;

}

.section{

    padding-block: 6rem;

}

.section__title{

    font-size: var(--h1-font-size);
    font-weight: var(--weight-400);
    line-height: 1.2;
    margin-bottom: 1.5rem;

}

.section__title::before{

    content: attr(data-title);
    display: block;
    color: var(--first-color);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}

.title-center{

    text-align: center;
    margin-bottom: 3rem;

}


/* Header: Body */


.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 3px 9px hsla(0, 0, 0, 0.05);
    z-index: 20;

}

.nav
{

    display: flex;
    height: calc(var(--header-height) + 2.25rem);    
    justify-content: space-between;
    align-items: center;
        
} 

.nav__logo{

    color: var(--first-color);
    font-size: var(--h2-font-size);

}


.nav__list{

    display: flex;
    column-gap: 1.5rem;  

}

.nav__link {

    color: var(--title-color);
    transition: all .3s ease;

}

.nav .fas{

    display: none;

}

.active-link, .nav__link:hover{
    
    color: var(--first-color);

}

/* Home: Body */
.home{

    background-color: var(--container-color);
    padding-block: 8rem 3rem;

}

.home__container{

    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.home__small{

    font-size: var(--large-font-size);
    font-weight: var(--weight-200);
    letter-spacing: 1px;

}

.home__title{

    font-size: var(--body-font-size);
    line-height: 1.4;   

}

.home__title span{

    font-weight: var(--weight-300);

}

.home__description{

    margin-block: 1.5rem 3rem;

}

.home__btns{

    display: flex;
    column-gap: 1rem;

}

.home__img-wrapper{

    margin-inline: auto 2rem;
    position: relative;

}

.home__img-wrapper::before {

    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--first-color-light);
    animation: animate__before 8s ease-in-out infinite;

}

.home__img-wrapper::after{

    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--first-color);
    animation: animate__after 8s ease-in-out infinite;

}

.home__img {

    z-index: 10;
    position: relative;
    vertical-align: middle;
    animation: animate__after 8s ease-in-out infinite;

}

/* Home: Animation */

@keyframes animate__before{

    0%{

        border-radius: 72% 28% 48% 52% / 48% 40% 60% 52%;

    }

    50%{

        border-radius: 37% 63% 34% 66% / 52% 39% 61% 48%;
    }

    100%{

        border-radius: 72% 28% 48% 52% / 48% 40% 60% 52%;

    }

}

@keyframes animate__after{

    0%{

        border-radius: 37% 63% 34% 66% / 52% 39% 61% 48%;

    }

    50%{

        border-radius: 72% 28% 48% 52% / 48% 40% 60% 52%;
    }

    100%{

        border-radius: 37% 63% 34% 66% / 52% 39% 61% 48%;

    }

}


/* Home: Button */

.btn{

    display: inline-block;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white);
    padding: 0.9rem 2.5rem;
    font-size: var(--large-font-size);
    border-radius: 0.5rem;
    transition: all 0.5s ease;

}

.btn--transparent{

    background-color: transparent;
    color: var(--first-color);

} 

.btn:hover{

    background-color: var(--first-color-dark);

}

.btn--transparent:hover{

    background-color: var(--first-color-dark);
    color: var(--white);

}


/* About: Body */

.about__container{

    grid-template-columns: 4fr 8fr;
    align-items: center;

}

.about__img-wrapper{

    position: relative;    
    height: 400px;

}

.about__img{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    transition: all 0.3 ease;

}

.about__img:nth-child(1){

    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translateY(-1.25rem);

}

.about__img:nth-child(2){

    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translateY(-0.75rem);

}

.about__img:nth-child(3){


    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);    
    transform: translateY(-0.25rem);

}

.about__img:nth-child(4){

    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translateY(0.25rem);

}

.about__img-wrapper:hover .about__img{

    transform: translateY(0);

}

.about__description{

    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;

}

.about__data{

    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    margin-bottom: 3rem;    

}

.data__item{

    display: flex;
    column-gap: 0.75rem;    

}

.data__title{

    font-size: var(--larger-font-size);
    
}

.about__link{

    color: hsl(219, 90%, 62%);

}

.about__bottom{

    display: flex;
    align-items: center;
    column-gap: 3rem;

}

.about__social-links{

    display: flex;
    align-items: center;
    column-gap: 1.25rem;

}

.about__social-links::before{

    content: '';
    background-color: var(--text-color);
    width: 60px;
    height: 2px;

}

.about__social-link{

    color: var(--text-color);
    transition: all 0.3s ease;

}

.about__social-link:hover{

    color: var(--first-color);

}


/* My Qualifications: Body */

.qualification{

    background-color: var(--container-color);

}

.resume__container{

    grid-template-columns: repeat(2, 1fr); 
    
}

.resume__item{

    border-bottom: 2px solid var(--border-color); 
    position: relative;  

}

.resume__heading{

    text-align: center;
    font-size: var(--h3-font-size);
    padding-bottom: 2rem; 
    border-bottom: 2px solid var(--border-color);    

}

.resume__item:not(:first-child){

    border-right: 2px solid var(--border-color);

}

.resume__header {

    padding: 2rem 1.5rem; 

}

.resume__subtitle{

    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;

}

.resume__icon{

    background-color: var(--border-color);
    border: 2px solid var(--border-color);
    font-size: var(--h2-font-size);
    width: 48px;
    height: 48px;
    line-height: 1.1em;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -1.5rem;
    bottom: -1.5rem;
    z-index: 10;
    
}

.resume__content{

    padding-inline: 1.5rem 3rem;

}


.resume__date-title{

    display: flex;
    justify-content: space-between;
    align-items: center;  

}

.resume__title{

    font-size: var(--h3-font-size);
    padding-top: 1rem;

}

.resume__date {

    color: var(--title-color);
    font-size: var(--large-font-size);
    padding-top: 1.2rem; 

}

.resume__description{

    margin-block: 1.25rem 2rem;

}


/* My Services: Body */

.services__container{

    grid-template-columns: repeat(3, 1fr);    

}

.services__item{

    background-color: var(--container-color);
    border: 1px solid var(--container-color);
    padding: 2.5rem 1.8rem;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.5s ease;

}

.services__item:hover{

    background-color: var(--body-color);
    border-color: var(--border-color);    

}

.services__icon{

    color: var(--first-color);
    font-size: 1.8rem;

}

.services__title{

    font-size: var(--h3-font-size);
    margin-block: 1.5rem 1rem;

}

.services__no{

    position: absolute;
    right: 2.5rem;
    top: 1rem;
    color: var(--title-color);
    font-size: 3.75rem;
    opacity: 0.07;

}

/* My Skills: Body */

.skills{

    background-color: var(--container-color);

}

.skills__container{

    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;

}

.skills__titles{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    padding-bottom: 2rem;

}

.skills__name{

    font-size: var(--larger-font-size);

}

.skills__no{

    color: var(--title-color);
    font-size: var(--large-font-size);
    font-weight: var(--weight-400);

}

.skills__description{

    padding-inline: 1.5rem;
    padding-bottom: 2rem;
    font-size: var(--larger-font-size);

}

.skills__bar{

    height: 2px;
    background-color: var(--border-color);

}

.skills__percentage{

    background-color: var(--first-color);
    position: relative;
    height: 2px;

}

.skills__percentage span{

    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -0.75rem;

}



/* My Work: Body */

.work__container{

    grid-template-columns: repeat(3, 1fr);

} 

.work__card{

    position: relative;
    cursor: pointer;
    
}

.work__img{

    vertical-align: middle;
    border-radius: 0.5rem;

}

.work__details{

    position: absolute;
    inset: 0;
    background-color: hsla(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.4s ease-in-out; 
    
}

.work__title{

    color: var(--white);
    transform: translateY(1.5rem);
    transition: all 0.3s ease-in-out;
    font-size: var(--h3-font-size);

}

.work__description{

    color: var(--white);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    transform: translateY(1.5rem);
    transition: all 0.3s ease-in-out;
    font-size: var(--large-font-size);

}


.work__design{

    color: var(--white);
    font-size: var(--h3-font-size);
    transform: translateY(1.5rem);
    transition: all 0.3s ease-in-out;

}

.work__card:hover .work__details{

    opacity: 1;

}


.work__card:hover :is(.work__title, .work__description, .work__design){

    transform: translateY(0);    

}

/* Work: Filter */
.work__filters{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 2rem;

}

.work__item{

    cursor: pointer;
    color: var(--white);
    padding: 0.25rem 0.75rem;
    font-size: var(--larger-font-size);
    font-weight: var(--weight-400);
    border-radius: 0.5rem;

}

.active-work{

    background-color: var(--first-color);
    color: var(--title-color);

}


/* Contacts: Body */

.contact__container{

    grid-template-columns: 5fr 7fr;
    align-items: flex-start;

}

.contact__item{

    display: flex;
    align-items: flex-start;
    column-gap: 1.25rem;

}

.contact__item:not(:last-child){

    margin-bottom: 2.5rem;

}

.contact__icon{

    color: var(--first-color);
    font-size: var(--large-font-size);
    line-height: 1.8;
    
}

.contact__title{

    font-size: var(--larger-font-size);  

}

.contact__data{

    font-size: var(--large-font-size);

}

.form__group{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem; 

}

.input__control {

    color: var(--title-color);
    background-color: var(--container-color);
    padding: 0.9rem 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
    
}

.textarea{

    height: 140px;
    resize: none;
    
}

.contact__btn{

    float: right;

}



/* Footer: Body */

.footer{

    background-color: var(--container-color);   
    padding-block: 3rem; 

}

.footer__container{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__social-links{

    display: flex;
    column-gap: 1.25rem;

}

.footer__social-link{

    color: var(--text-color);
    font-size: var(--large-font-size);

}



@media only screen and (max-device-width: 1200px)
{

    /* Header: Body */

    .container{

        max-width: 960px;        

    }
    
    :root{

        --body-font-size: 3rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --larger-font-size: 1rem;
        --large-font-size: 0.938rem;

    }

    /* Home: Body */

   
    .home__img{

        width: 340px;

    }    

    /* About: Body */

    .about__img-wrapper{

        height: 320px;        

    }

    .resume__heading{

        font-size: 30px;

    }

    .resume__subtitle{

        font-size: 25px;
        padding-bottom: -5.5rem;

    }

    .resume__title{

        font-size: 20px;

    }

    .resume__date{

        font-size: 20px;

    }

    .resume__description{

        font-size: 20px;

    }

    .resume__icon{

        line-height: 1.4em;
        
    }

    /*Services: Body */
    
    .services__icon{

        font-size: 1.5rem;

    }

    .services__no{

        font-size: 2.5rem;

    }
    
    .services__title{

        margin-block: 1.25rem 0.75rem;

    }

    
    /* My Skills: Body */

    .skills__container{

        grid-template-columns: repeat(1, 1fr);
        padding-inline: 8rem;

    }

    .skills__description{

        font-size: var(--larger-font-size);
    
    }

    .resume__container{

        grid-template-columns: repeat(1, 1fr);
        padding-inline: 5rem;
    }

    /* Style Switcher: Body */

    .style__switcher{

        width: 200px;

    }

    .style__switcher-color .color{

        width: 24px;
        height: 24px;
        
    }   

    .style__switcher-toggler{

        width: 40px;
        height: 40px;
        top: 10%;

    }

    .style__switcher-theme{

        width: 40px;
        height: 40px;
        bottom: 10%;

    }


}


@media only screen and (max-device-width: 992px)
{

    /* Header: Body */
    
    .container{

        max-width: 720px;

    }


    /* Home: Body */

    .home__container{

        grid-template-columns: 1fr;

    }

    .home__content{

        order: 1;

    }    

    .home__img-wrapper{

        margin-inline: auto;       

    }

    /* About: Body */

    .about__container{

        grid-template-columns: 1fr;
        row-gap: 5rem;

    }    

    .about__img:not(:first-child){

        display: none;

    }

    .about__img:first-child{

        clip-path: initial;
        transform: initial;
        left: 50%;
        translate: -50%; 

    }

    .resume__container{

        grid-template-columns: 1fr;
        row-gap: 2.5rem;

    }

    /* My Skills: Body */

    .services__container{

        grid-template-columns: repeat(1, 1fr);

    }

    .skills__container{

        grid-template-columns: repeat(1, 1fr);

    }

    .work__container{

        grid-template-columns: repeat(2, 1fr);

    }

    /* Contact: Body */

    .contact__container{

        grid-template-columns: 1fr;
        row-gap: 2rem; 

    }    

}


@media only screen and (max-device-width: 768px)
{

    /*Reusable: Body*/

    .section__title::before{

        content: attr(data-title);
        text-align: center;
        font-size: 20px;
        padding-bottom: 1rem;

    }

    /* Header: Body */
    .container{

        max-width: 560px;

    }

    .nav .fas{

        display: block;
        font-size: 25px;

    }

    .nav ul{

        background: var(--border-color);
        position: fixed;
        flex-direction: column;
        display: flex;
        align-items: center;
        overflow: hidden;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 70px;
        z-index: 2;
        transition: right 0.5s;

    }

    .nav ul li{

        display: block;
        margin: 25px;
        color: var(--white);

    }

    .nav ul .fas{

        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;

    }

    .nav ul .fas:hover{

        color: var(--first-color-dark);

    }

    
    /* Home: Body */

    .home__img{

        width: 300px;

    }

    /* Qualifications: Body */

    .resume__container{

        max-width: 750px;
        max-height: 6000px;

    }

    .resume__title{

        font-size: 25px;

    } 
    
    .resume__date{

        font-size: 25px;

    }    

    .resume__heading{

        font-size: 50px;

    }

    .resume__subtitle{

        font-size: 35px;
        text-align: center;

    }

    .resume__icon{

        display: none;

    }

    .resume__description{

        font-size: 28px;

    }

    /* My Work: Body */

    .skills__container{

        max-width: 800px;
        max-height: 6000px;

    }

    .skills__name{

        font-size: 23px;

    } 
    
    .skills__no{

        font-size: 23px;

    }

    .skills__description{

        font-size: 25px;        

    }


    /* Services: Body */

    .services__container{

        grid-template-columns: repeat(1, 1fr);

    }   


}

@media only screen and (max-width: 576px)
{

    /* Header: Body */

    .nav .fas{

        display: block;
        font-size: 25px;

    }

    .nav ul{

        background: var(--border-color);
        position: fixed;
        flex-direction: column;
        display: flex;
        align-items: center;
        overflow: hidden;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 70px;
        z-index: 2;
        transition: right 0.5s;

    }

    .nav ul li{

        display: block;
        margin: 25px;
        color: var(--white);

    }

    .nav ul .fas{

        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;

    }

    .nav ul .fas:hover{

        color: var(--first-color-dark);

    }

    /* Home: Body */

    .home{

       padding-block: 9rem 4rem; 
        
    }

    .section{

        padding-block: 4rem;
        
    }

    /* About: Body */

    .about__img-wrapper{

        height: 600px;

    }

    .section__container{

        grid-template-columns: 1fr;

    }

    /* My Skills: Body */ 
    
    .resume__icon{

        display: none;

    }

    .skills__container{

        grid-template-columns: 1fr;

    }

    /* My Work: Body */

    .work__container{

        grid-template-columns: 1fr;

    }

    /* Contact: Body */

    .form__group{

        grid-template-columns: 1fr;

    }

    /* Footer: Body */

    .footer__container{

        grid-template-columns: 1fr;
        flex-direction: column;
        row-gap: 1rem;

    }

}

@media only screen and (max-device-width: 450px)
{

    /* Reusables: Body */

    .section__title{

        font-size: 40px;         
        
    }

    .section__title::before{

        content: attr(data-title);
        text-align: center;
        font-size: 13px;
        padding-bottom: 1rem;

    }


    /* Header: Body */

    .nav .fas{

        display: block;
        font-size: 25px;

    }

    .nav ul{

        background: var(--border-color);
        position: fixed;
        flex-direction: column;
        display: flex;
        align-items: center;
        overflow: hidden;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 70px;
        z-index: 2;
        transition: right 0.5s;

    }

    .nav ul li{

        display: block;
        margin: 25px;
        color: var(--white);

    }

    .nav ul .fas{

        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;

    }

    .nav ul .fas:hover{

        color: var(--first-color-dark);

    }

    /* Home: Body */

    .home{

        padding-block: 9rem 3rem;

    }
    
    .home__img{

        height: 500px;
        width: 500px;

    }

    .home__small{

        padding-top: 15rem;

    }   
    
    .home__description{

        font-size: 12px;

    }

    /* About: Body */
    
    .about__data{

        grid-template-columns: 1fr;

    }

    #about__section-title{

        font-size: 13px;

    }
    
    .about__img-wrapper{

        height: 600px;

    }

    .about__bottom{
        
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.25rem;

    }

    .about__bottom .btn{

        order: 1;

    }

    .about__description{

        font-size: 10px;;

    } 

    .about__data{

        font-size: 20px;

    }

    /* Qualification: Body */

    .resume__container{

        grid-template-columns: repeat(1, 1fr);
        max-width: 750px;
        max-height: 6000px;

    }

    .resume__item{

        padding: 0;

    }

    .resume__title{

        font-size: 25px;

    } 
    
    .resume__date{

        font-size: 25px;

    }    

    .resume__heading{

        font-size: 50px;

    }

    .resume__subtitle{

        font-size: 35px;
        text-align: center;

    }

    .resume__icon{

        display: none;

    }

    .resume__description{

        font-size: 28px;

    }
    

    /* Services: Body */

    .services__item{

        padding: 3rem 5rem;

    }

    .services__no{

        padding-top: 1rem;
        font-size: 70px;

    }

    .services__title{

        font-size: 12px;

    }

    .services__description{

        font-size: 10px;

    }

    /* My Skills: Body */

    .skills__container{

        grid-template-columns: repeat(1, 1fr);
        max-width: 800px;
        max-height: 6000px;

    }

    .skills__name{

        font-size: 30px;

    } 
    
    .skills__no{

        font-size: 30px;

    }

    .skills__description{

        font-size: 30px;        

    }


    /* My Work: Body */

    .work__container{

        grid-template-columns: repeat(1, 1fr);

    }

    .work__item{

        font-size: 25px; 

    }

    


}




